.main {
  &__container {
    max-width: 100%;
    margin: 72px auto 0;
    width: 100%;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__section {
    width: 100%;
    height: auto;
    min-height: 10vh;
    opacity: 0;
    will-change: transform;
    transform: translateY(100px);
    padding: 32px 0;

    &-about {
      background: var(--background-color-about);
    }

    &-picture {
      overflow: hidden;
    }
  }
}